    {% extends './base.html' %}
    {% load static %}
    {% block title %}My Profile{% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href={% static 'style/profile.css' %}>
    {% endblock %}
    {% block content %}
    
    <div class="container rounded mt-4 mb-5 profile">
        {% if form.errors %}
        {% for key, value in form.errors.items %}
        <br>
        <div style="width:80%; margin:auto" class="alert alert-danger" role="alert">
            <p>{{value}}</p>
        </div>
        {% endfor %}
        {% endif %}
        
        
        <div class="row">
            <div class="col-md-12" id="alert-box">
                
            </div>
            <div class="col-md-4 border-right image-and-bio">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 image-and-bio">
                    <img style="border:1px solid #000" class="rounded-circle mt-5" width="170px" id="new-avatar-url"
                        src="{{profile.avatar.url}}">

                    <br>
                    <span class="font-weight-bold">{{profile.user.get_full_name}}</span>
                    <span class="text-black-50">{{profile.user.username}}</span>
                    <button type="button" class="btn btn-primary profile-button " style="font-size:10px; margin-top:10px"
                        data-toggle="modal" data-target="#Image">
                        Edit Image
                    </button>
                    <hr>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="Image" tabindex="-1" role="dialog" aria-labelledby="ImageTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% comment %} <form method="POST" enctype='multipart/form-data'
                                    action="{% url 'profiles:edit_image' slug=profile.slug %}">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{image_form.avatar}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary profile-button">Update Profile
                                            Image</button>
                                    </div>
                                </form> {% endcomment %}
                                <form id="image-form">
                                    <div id="display-new-avatar">
                                    </div>
                                    
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{image_form.avatar}}
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button id="image-form-close" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary profile-button">Update Profile
                                            Image</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% comment %} <form action="{% url 'profiles:update_bio' slug=profile.slug %}" method="POST"
                        enctype='multipart/form-data'>
                        {% csrf_token %}

                        {{image_form}}
                        <button type="submit">Update</button>
                    </form> {% endcomment %}
                    <br>
                    <br>
                    <span>
                        <div class="bio">
                            {{profile.bio}}
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary profile-button" style="font-size:10px"
                            data-toggle="modal" data-target="#Bio">
                            Edit Bio
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="Bio" tabindex="-1" role="dialog" aria-labelledby="BioTitle"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update Bio</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% comment %} <form method="POST" action="{% url 'profiles:edit_bio' slug=profile.slug %}">
                                        <div class="modal-body">

                                            {% csrf_token %}
                                            {{bio_form}}
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success profile-button">Save
                                                changes</button>
                                        </div>
                                    </form> {% endcomment %}
                                    <form id="bio-form">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {{bio_form}}
                                        </div>

                                        <div class="modal-footer">
                                            <button id="bio-close-form" type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success profile-button">Save
                                                changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-8 informa">
                <br>
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Public profile</h4>
                        <button class="btn btn-primary profile-button" type="button" data-toggle="modal"
                            data-target="#exampleModalCenter">Update</button>
                    </div>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Information</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% comment %} <form method='POST' action="">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{form.as_p}}


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success profile-button">Save Updates</button>
                                    </div>
                                </form> {% endcomment %}
                                <form id="information-form">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{form.as_p}}


                                    </div>
                                    <div class="modal-footer">
                                        <button id="info-close-form" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success profile-button">Save Updates</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <br>
                    <table style="background:#f7d5a3" class="table table-bordered  table-hover">
                        {% comment %} <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead> {% endcomment %}
                        <tbody>
                            <tr>
                                <th>Email</th>
                                <td>{{profile.user.email}}</td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td id="first-name">{{profile.user.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td id="last-name">{{profile.user.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td id="country">{{profile.user.country}}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td id="gender">{{profile.user.gender|title}}</td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td id="date-of-birth">{{profile.user.date_of_birth}}</td>
                            </tr>
                            <tr>
                                <th>Joined</th>
                                <td>{{profile.created}}</td>
                            </tr>
                            <tr>
                                <th>Last Update</th>
                                <td>{{profile.updated}}</td>
                            </tr>
                            <tr>
                                <th>Is Active</th>
                                <td>
                                    {% if profile.user.is_active %}
                                    <div class="text-center is-active">
                                        Is Active
                                    </div>

                                    {% else %}
                                    <div class="text-center not-active">
                                        Not Active
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Posts Number</th>
                                <td>{{profile.get_posts_count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script type="text/javascript" src={% static 'scripts/myprofile.js' %}></script>
    {% endblock scripts %}