    {% extends './base.html' %}
    {% load static %}
    {% block title %}My Profile{% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href={% static 'style/profile.css' %}>
    {% endblock %}
    {% block content %}
    
    <div class="container rounded mt-4 mb-5 profile">
        {% if form.errors %}
        {% for key, value in form.errors.items %}
        <br>
        <div style="width:80%; margin:auto" class="alert alert-danger" role="alert">
            <p>{{value}}</p>
        </div>
        {% endfor %}
        {% endif %}
        
        
        <div class="row">

            <div class="col-md-12" id="alert-box">
                
            </div>
            <div class="col-12">
                <div class="text-center nav-buttons">                  
                    <a class="btn btn-light">People You May Know</a>
                    <a href='{% url "profiles:my_friends" %}' class="btn btn-light">Friends ({{friends_count}})</a>
                    <a href='{% url "profiles:friend_requests" %}' class="btn btn-light">Friend Requests ({{friend_requests_count}})</a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-4 border-right image-and-bio">
                
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 image-and-bio">
                    <img style="border:1px solid #000" class="rounded-circle mt-5" width="170px" id="new-avatar-url"
                        src="{{profile.avatar.url}}">

                    <br>
                    <span class="font-weight-bold">{{profile.user.get_full_name}}</span>
                    <span class="text-black-50">{{profile.user.username}}</span>
                    <button type="button" class="btn btn-primary profile-button " style="font-size:10px; margin-top:10px"
                        data-toggle="modal" data-target="#Image">
                        Edit Image
                    </button>
                    <hr>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="Image" tabindex="-1" role="dialog" aria-labelledby="ImageTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% comment %} <form method="POST" enctype='multipart/form-data'
                                    action="{% url 'profiles:edit_image' slug=profile.slug %}">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{image_form.avatar}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary profile-button">Update Profile
                                            Image</button>
                                    </div>
                                </form> {% endcomment %}
                                <form id="image-form">
                                    <div id="display-new-avatar">
                                    </div>
                                    
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{image_form.avatar}}
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button id="image-form-close" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary profile-button">Update Profile
                                            Image</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% comment %} <form action="{% url 'profiles:update_bio' slug=profile.slug %}" method="POST"
                        enctype='multipart/form-data'>
                        {% csrf_token %}

                        {{image_form}}
                        <button type="submit">Update</button>
                    </form> {% endcomment %}
                    <br>
                    <br>
                    <span>
                        <div class="bio">
                            {{profile.bio}}
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary profile-button" style="font-size:10px"
                            data-toggle="modal" data-target="#Bio">
                            Edit Bio
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="Bio" tabindex="-1" role="dialog" aria-labelledby="BioTitle"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update Bio</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% comment %} <form method="POST" action="{% url 'profiles:edit_bio' slug=profile.slug %}">
                                        <div class="modal-body">

                                            {% csrf_token %}
                                            {{bio_form}}
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success profile-button">Save
                                                changes</button>
                                        </div>
                                    </form> {% endcomment %}
                                    <form id="bio-form">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {{bio_form}}
                                        </div>

                                        <div class="modal-footer">
                                            <button id="bio-close-form" type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success profile-button">Save
                                                changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-8 informa">
                <br>
                
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Public profile</h4>
                        <button class="btn btn-primary profile-button" type="button" data-toggle="modal"
                            data-target="#exampleModalCenter">Update</button>
                    </div>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Information</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% comment %} <form method='POST' action="">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{form.as_p}}


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success profile-button">Save Updates</button>
                                    </div>
                                </form> {% endcomment %}
                                <form id="information-form">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {{form.as_p}}


                                    </div>
                                    <div class="modal-footer">
                                        <button id="info-close-form" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success profile-button">Save Updates</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <br>
                    <table style="background:#f7d5a3" class="table table-bordered  table-hover">
                        {% comment %} <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead> {% endcomment %}
                        <tbody>
                            <tr>
                                <th>Email</th>
                                <td>{{profile.user.email}}</td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td id="first-name">{{profile.user.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td id="last-name">{{profile.user.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td id="country">{{profile.user.country}}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td id="gender">{{profile.user.gender|title}}</td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td id="date-of-birth">{{profile.user.date_of_birth}}</td>
                            </tr>
                            <tr>
                                <th>Joined</th>
                                <td>{{profile.created}}</td>
                            </tr>
                            <tr>
                                <th>Last Update</th>
                                <td>{{profile.updated}}</td>
                            </tr>
                            <tr>
                                <th>Friends</th>
                                <td>{{friends_count}}</td>
                            </tr>
                            <tr>
                                <th>Number of Posts</th>
                                <td>{{profile.get_posts_count}}</td>
                            </tr>
                            <tr>
                                <th>Is Active</th>
                                <td>
                                    {% if profile.user.is_active %}
                                    <div class="text-center is-active">
                                        Is Active
                                    </div>

                                    {% else %}
                                    <div class="text-center not-active">
                                        Not Active
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container mb-5 ">
        <div class="row">
            <div class="col-md-8 col-sm-12 informa" style="border-radius: 5px 0px 0px 5px;"> 
                <div class="row">
                    <div class="col-6">
                        <h4 class="pt-2" >Posts (<span id='posts-count'>{{profile.get_posts_count}}</span>)</h4>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-info mt-2 new-post-add" data-toggle="modal" data-target="#addNewPost">New Post</a>
                    </div>
                </div>
                <hr>
                <div id="all-posts">
                    {% for post in profile.post_set.all %}
                    <div class="card myprofile-post mb-3" id="post-post-{{post.id}}" >
                        <div class="card-header">
                            <div class="row">
                                <div class='col-6'>
                                    <img src="{{profile.avatar.url}}" class="rounded-circle" style="width:45px"alt="Avatar" />
                                    <span  class='username-phr ml-2 profile-username'>{{profile|title}}</span>
                                </div>
                                <div class='col-6 text-right'>
                                    <a>
                                        {{post.updated|timesince}} ago
                                    </a>
                                    <br>
                                    <br>
                                    
                                    <a class="edit-post" data-toggle="modal" data-target="#edit_post_modal-{{post.id}}">Edit</a>
                                    <a class="delete-post ml-2" data-toggle="modal" data-target="#delete_post_modal-{{post.id}}">Delete</a>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="edit_post_modal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="edit_post_modalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <form class="edit-post-form {{post.id}}">
                                                <div class="modal-body text-left">
                                                    <div class="text-center" id="edit-image-{{post.id}}"> 
                                                        <img src="{{post.image.url}}" style="width:50%" class="card-img-top"  alt="...">
                                                    </div>
                                                    <br>
                                                    <p>Image:</p>
                                                    <input type="file" name="image" accept='image/*' class="form-control" id="edit-post-image-{{post.id}}">
                                                    <br>
                                                    <p>Content:</p>
                                                    <textarea class="form-control" id="edit-post-content-{{post.id}}" rows="5">{{post.content}} </textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="edit-post-close-{{post.id}}">Close</button>
                                                    <button type="submit" class="btn btn-light edit-post">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="delete_post_modal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="#delete_post_modal-{{post.id}}Title" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Delete Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                
                                                <p>Are You Sure, Wanna delete this post?</p>
                                                
                                            </div>
                                            <form class="delete-post-form {{post.id}}">
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delete-post-close-{{post.id}}">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center" id="general-{{post.id}}">
                            <h5 class="card-title text-left mb-4 mt-2">{{post.content|linebreaks|urlize}}</h5>
                            <img src="{{post.image.url}}" style="width:50%" class="card-img-top" alt="...">
                            {% comment %} <p class="card-text">{{post.content}}</p> {% endcomment %}
                            
                        </div>
                        <div class="card-footer text-muted text-center">
                            <h5>
                                <a href="" style="color:#6C7587" data-toggle="modal" data-target="#profileLikesPeople-{{post.id}}">Likes({{post.num_likes}})</a>, 
                                <a href="" style="color:#6C7587" data-toggle="modal" data-target="#profileCommentsPeople-{{post.id}}">Comments({{post.num_comments}})</h5></a>
                        </div>
                    </div>
                    
                    {% comment %} Likes People {% endcomment %}
                    <div class="modal fade" id="profileLikesPeople-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="profileLikesPeopleTitle-{{post.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Likes ({{post.num_likes}})</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                {% if post.num_likes > 0 %}
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Profile</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    {% for like in post.likes.all %}
                                    <tr>
                                        <th scope="row">
                                            <img src="{{like.avatar.url}}" class="rounded-circle mr-1" style="width:30px"alt="Avatar" />
                                            {{like}}</th>
                                        <td><a href="{% url 'profiles:profile' like.slug %}">View Profile</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <div class="alert alert-secondary text-center" role="alert">
                                        No Likes Yet!
                                    </div>  
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    {% comment %} Comments People {% endcomment %}
                    <div class="modal fade" id="profileCommentsPeople-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="profileCommentsPeople-{{post.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Comments ({{post.num_comments}})</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if post.num_comments > 0 %}
                                    {% for comment in post.comment_set.all %}
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <img src="{{comment.user.user.profile.avatar.url}}" class="rounded-circle" style="width:35px"alt="Avatar" />
                                                <span  class='username-phr pl-1' style="font-size:18px">{{comment.user|title}}</span>
                                                <span class="tect-muted" style='float:right; margin-top:10px'>
                                                    {{comment.updated|timesince}} ago
                                                </span>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">{{comment.body}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-secondary text-center" role="alert">
                                        No Comments Yet!
                                    </div>  
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-sm-12 image-and-bio" style="border-radius:0px 5px 5px 0px">       
                <div class="friends">
                    <h4 class="pt-2">Friends({{friends_count}})</h4>
                    <a href="{% url "profiles:my_friends" %}" class="btn btn-link">See All</a>
                </div>
                {% if friends_count == 0 %}
                    <br>
                    <div class="alert alert-secondary text-center" style="font-size:20px" role="alert">
                        You don't have friends yet!
                    </div>
                {% else %}
                    
                    <table class="table table-light" style="background:#f7d5a3">
                        <tbody>
                        {% for f in friends %}
                        <tr>
                            <th>
                                <div>
                                    <a href={% url "profiles:profile" slug=f.username %}>
                                        <img class="profile-image" src="{{f.profile.avatar.url}}" />
                                    </a>
                                    <a href={% url "profiles:profile" slug=f.username %} class="ml-2 friend-username" >{{f.get_full_name}}</a>
                                </div>
                            </th>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-center">
                                <a 
                                style="
                                    font-size:18px;
                                    text-decoration: underline;
                                "
                                href="{% url "profiles:my_friends" %}" class="btn btn-link">See All</a>
                            </th>
                        </tr>
                        </tbody>
                    </table>  
                {% endif %}
            </div>
            
        </div>
    </div>

    {% comment %} Add New Post {% endcomment %}
    <div class="modal fade" id="addNewPost" tabindex="-1" role="dialog" aria-labelledby="addNewPostTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-new-post">
            <div class="modal-body">
                <div class="open_new_image_post text-center">
                    
                </div>
                <span class="mt-1 mb-1">Image:</span>
                {{post_form.image}}

                <p class="mt-3 mb-1">Content:</p>
                {{post_form.content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary new-post-close-form" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-light new-post-add">Post</button>
            </div>
            </form>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script type="text/javascript" src={% static 'scripts/myprofile.js' %}></script>
    {% endblock scripts %}