
<nav class="navbar navbar-expand-lg navbar-light navb">
    <div class='container'>
        <a class="navbar-brand logo" href="\">social.NET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a style="color:#FFC4C4" class="nav-link" href="{% url 'posts:main' %}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto drop">
            <li class="nav-item dropdown">
                <a class="nav-link-custom dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Friends
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item mr-5 user-name">
                    <a style="color:#FFC4C4" class="nav-link" href="{% url 'profiles:profile' slug=request.user.username %}">My Profile</a>
                </li>
                <li class="nav-item logout register">
                    <a style="color:#fedede" class="nav-link" href="#">Logout</a>
                </li>
            {% else %}
                <li class="nav-item mr-3 user-name">
                <a style="color:#FFC4C4" class="nav-link" href="#">Welcome Guest</a>
                </li>
                <li class="nav-item mr-3 login">
                <a style="color:#FFC4C4; font-weight:700" class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item register">
                <a style="color:#fedede" class="nav-link" href="#">Register</a>
                </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>