.image-and-bio{
    background-color: #f8e7c9;
}
.informa {
    background-color: #f7d5a3;
    background-color: #f7e1bf;
}

.form-control:focus {
    box-shadow: none;
    border-color: #bd2b5c
}

.profile-button {
    background: #a92450;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #b72857
}

.profile-button:focus {
    background: #bd2b5c;
    box-shadow: none
}

.profile-button:active {
    background: #bd2b5c;
    box-shadow: none
}

.back:hover {
    color: #bd2b5c;
    cursor: pointer;

}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #bd2b5c;
    color: #fff;
    cursor: pointer;
    border: solid 1px #bd2b5c
}

.is-active {
    background-color: #07763e;
    color: #FFC4C4;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
}

.not-active {
    background-color: #ce1616;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
}