.profile {
    background-color: #DBCAC0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #D49796
}

.profile-button {
    background: #f8803f;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #f18044
}

.profile-button:focus {
    background: #D49796;
    box-shadow: none
}

.profile-button:active {
    background: #D49796;
    box-shadow: none
}

.back:hover {
    color: #D49796;
    cursor: pointer;

}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #D49796;
    color: #fff;
    cursor: pointer;
    border: solid 1px #D49796
}

.is-active {
    background-color: #12bc6a;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
}

.not-active {
    background-color: #ce1616;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
}