.image-and-bio{
    background-color: #f8e7c9;
}
.informa {
    background-color: #f7d5a3;
    background-color: #f7e1bf;
}

.form-control:focus {
    box-shadow: none;
    border-color: #bd2b5c
}

.profile-button {
    background: #a92450;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #b72857
}

.profile-button:focus {
    background: #bd2b5c;
    box-shadow: none
}

.profile-button:active {
    background: #bd2b5c;
    box-shadow: none
}

.back:hover {
    color: #bd2b5c;
    cursor: pointer;

}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #bd2b5c;
    color: #fff;
    cursor: pointer;
    border: solid 1px #bd2b5c
}

.is-active {
    background-color: #07763e;
    color: #FFC4C4;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
}

.not-active {
    background-color: #ce1616;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
}


.myprofile-post{
    background-color: #f7d5a3;
}

.profile-username{
    font-size: 20px;
    font-weight: 600;
}


/* Add New Post */
.new-post-add{
    color: #fff;
    background-color: #FF8B13;
    border: 2px solid  #FF8B13;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 3px 3px 7px grey;
}

.new-post-add:hover{
    background-color: #dd7506;
    border: 2px solid  #dd7506;
    border-radius: 5px;
    color:#fff;
    transition: 0.5s;
}


/* ////////////////////////////////////////////////////////////////////////// */

.edit-post {
    color:#0ca1db;
    font-size: 18px;
    font-weight: 500;
}
.edit-post:hover {
    color:#0081B4;
    text-decoration: none;
    
}

.delete-post {
    color:red;
    font-size: 18px;
    font-weight: 500;
}
.delete-post:hover {
    color:rgb(202, 3, 3);
    text-decoration: none;
}